<nav>
<div class="navbar menu">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="glyphicon glyphicon-list menuDropdown"></span>
      </button>
      <div class="collapse navbar-collapse" id="myNavbar">
<ul class="nav navbar-nav">
<li>
<a class="mainMenu" ui-sref="dashboard">Dashboard</a></li>
<li>
<a class="mainMenu" ui-sref="transfers">Transfers</a></li>
<li>
<a class="mainMenu" ui-sref="cards">Cards</a></li>
<li>
<a class="mainMenu" ui-sref="loans">Loans</a></li>
<li>
<a class="mainMenu" ui-sref="mutualfunds">Mutual Funds</a></li>
<li>
<a class="mainMenu" ui-sref="managepayee">Manage Payee</a></li>
<li>
<a class="mainMenu" ui-sref="nearby">Nearby</a></li>
<li>
<a class="mainMenu" ui-sref="contactus">Contact Us</a></li>
</ul>
</div>
</div>
</nav>