<div class="panel panel-default">
    <div class="panel-heading ">
        <h4 class="panel-title"><strong>Account Details</strong></h4>
    </div>
    <div class="panel-body table-responsive">
        
            <table class="table">
                <thead>
                    <tr class="tableheading">
                        <td>Account Number</td>
                        <td>Account Type</td>
                        <td>Available Balance</td>
                        <td>Opening Date</td>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="account in $ctrl.accountInfo track by $index">
                        <td data-ng-click="$ctrl.getIndex($index)">{{account.account_number}}</td>
                        <td>{{account.account_type}}</td>
                        <td data-ng-click="$ctrl.getIndex($index)">{{account.available_balance}}&nbsp;{{account.currency}}</td>
                        <td>{{account.opening_date}}</td>
						<td><a ui-sref="lastTransactions"><img class="arrow" src="assets/images/Arrow.png"></a></td>
                    </tr>
                </tbody>
            </table>
        
    </div>
</div>
