<div class="container-fluid">
	<div class="row">
		<div class="col-md-3 col-sm-4 admin-menu">
			<div class="panel-group">
				<admin-menu></admin-menu>
			</div>
		</div>
		<div class="col-md-9 col-lg-9 col-sm-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3>
					Add Mutual Funds
						
					</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-6">
							<md-input-container class="md-block">
								<label>Mutual Fund Name<span class="warning">*</span></label>
								<input type="text" required>
							</md-input-container>
						</div>
						<div class="col-md-6">
							<md-input-container class="md-block">
								<label>Price Per Unit(INR)<span class="warning">*</span></label>
								<input type="number" required>
							</md-input-container>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<md-input-container class="md-block">
								<label>Units Available<span class="warning">*</span></label>
								<input type="number" required>
							</md-input-container>
						</div>
						<div class="col-md-6">
							<md-input-container class="md-block">
								<label>Overall %age Gain<span class="warning">*</span></label>
								<input type="number" required>
							</md-input-container>
						</div>
					</div>

					<md-button class="md-raised md-primary admin-btn"><strong>ADD</strong></md-button>
				</div>
			</div>
		</div>
	</div>
