
	<div class="panel-heading hidden-xs">
		<center><h3><a href="#"><img src="../../assets/images/Logo-blue.png" /></a></h3></center>
	</div>
		<center><p><strong><h3>Main Menu</h3></strong></p></center>
	<div class="collapse in">
		<ul class="list-group asideMenu">
			<li class="list-group-item">
				<a ui-sref="updateMF">Update Mutual funds
				<span class="arrow"><img src="../../assets/images/Arrow.png" /></span></a>
			</li>
			<li class="list-group-item">
				<a ui-sref="addMF">Add New Mutual funds
				<span class="arrow"><img src="../../assets/images/Arrow.png" /></span></a>
			</li>
			<li class="list-group-item">
				<a ui-sref="updateContact">Add/Update contact Details
				<span class="arrow"><img src="../../assets/images/Arrow.png" /></span></a>
			</li>
			<li class="list-group-item">
				<a>Account Requests
				<span class="arrow"><img src="../../assets/images/Arrow.png" /></span></a>
			</li>
		</ul>
	</div>
