<top-menu></top-menu>
<!--

<div class="row">
    <div class="col-md-offset-4">
        <div class="forget-form well">
            <form class="form-horizontal" name="forgotPassForm" ng-show="$ctrl.forgotPasswordWidget">

                <legend>CHANGE PASSWORD</legend>

                <md-input-container class="md-block">
                    <label>ENTER MOBILE NUMBER:<span class="warning">*</span></label>
                    
                    <input name="mobileNumber" ng-model="$ctrl.mobileNumber" ng-blur="$ctrl.checkMobile($ctrl.mobileNumber)" required ng-pattern="/^[0-9]{10}$/" maxlength="10">
                    <span class="valText" ng-show="forgotPassForm.mobileNumber.$error.pattern">Please enter a valid mobile number<p></p></span>
                    <span class="valText" ng-hide="$ctrl.checkNumber">Mobile Number does not exist</span>

                </md-input-container>

                <md-input-container class="md-block">
                    <label for="cust-password">RESET PASSWORD:<span class="warning">*</span></label>
                    <input type="password" name="changePassword" ng-model="$ctrl.changePassword" required ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&-_/\\])[A-Za-z\d$@$!%*?&-_/\\]{8,20}/">
                    <span class="valText" ng-show="forgotPassForm.changePassword.$error.pattern">Password should have 8-20 alphanumeric and special characters</span>

                </md-input-container>


                <md-input-container class="md-block">
                    <label for="cust-password">CONFIRM PASSWORD:<span class="warning">*</span></label>
                    <input oncopy="return false" type="password" onpaste="return false" name="confirmPassword" ng-model="$ctrl.confirmPassword"/>
                    <span class="valText" ng-show="$ctrl.No_match">Passwords do not match</span>
                </md-input-container>
                
                <md-button class="md-raised md-primary" ng-click="$ctrl.changeSubmit()" data target="#changeSuccessModal"><strong>Reset</strong></md-button>
                 <a ui-sref="dashboard"> <md-button class="md-warn md-hue-1"><strong>Cancel</strong></md-button></a>&nbsp;
            
            </form>
            <div ng-show="$ctrl.changeSuccessWidget">
                <h2>
                    Password changed successfully. Please <a href="#">LOGIN</a> to continue.
                </h2>
            </div>
        </div>
    </div>
</div>
-->
<div class="container">
    <div class="col-md-3 col-sm-2">
</div>
<div class="col-xs-12 col-sm-10 col-md-6">
  
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a><strong>Change Password</strong></a>
           
            <span  class="warning login-hint">* Marked fields are mandatory</span></h3></span>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" name="forgotPassForm" ng-show="$ctrl.forgotPasswordWidget">
                <md-input-container class="md-block">
                    <label>ENTER MOBILE NUMBER:<span class="warning">*</span></label>

                    <input name="mobileNumber" ng-model="$ctrl.mobileNumber" ng-blur="$ctrl.checkMobile($ctrl.mobileNumber)" required ng-pattern="/^[0-9]{10}$/" maxlength="10">
                    <span class="valText" ng-show="forgotPassForm.mobileNumber.$error.pattern">Please enter a valid mobile number<p></p></span>
                    <span class="valText" ng-hide="$ctrl.checkNumber">Mobile Number does not exist</span>

                </md-input-container>

                <md-input-container class="md-block">
                    <label for="cust-password">RESET PASSWORD:<span class="warning">*</span></label>
                    <input type="password" name="changePassword" ng-model="$ctrl.changePassword" required ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&-_/\\])[A-Za-z\d$@$!%*?&-_/\\]{8,20}/">
                    <span class="valText" ng-show="forgotPassForm.changePassword.$error.pattern">Password should have 8-20 alphanumeric and special characters</span>

                </md-input-container>


                <md-input-container class="md-block">
                    <label for="cust-password">CONFIRM PASSWORD:<span class="warning">*</span></label>
                    <input oncopy="return false" type="password" onpaste="return false" name="confirmPassword" ng-model="$ctrl.confirmPassword" />
                    <span class="valText" ng-show="$ctrl.No_match">Passwords do not match</span>
                </md-input-container>

                <md-button class="md-raised md-primary" ng-click="$ctrl.changeSubmit()" data target="#changeSuccessModal"><strong>Reset</strong></md-button>
                <a ui-sref="dashboard">
                    <md-button class="md-warn md-hue-1"><strong>Cancel</strong></md-button>
                </a>&nbsp;

            </form>
            <div ng-show="$ctrl.changeSuccessWidget">
                <h2>
                    Password changed successfully. Please <a href="#">LOGIN</a> to continue.
                </h2>
            </div>

        </div>
    </div>
</div>
