
<div>
    <div data-ng-show="defaultData"  class="accountBalance">
      <ul class="asideMenu">
        <li class="asideMenu"><h4>Account Balance</h4></li>
        <li ><span><b>{{accNumber}}<small>-{{accType}}</small></b></span></li>
        <li ><h3><b>{{accBalance}}&nbsp;{{accCurrency}}</b></h3></li>
    </ul>
          </div>
    
    <div data-ng-show="!defaultData" class="accountBalance" >
       <ul class="asideMenu">
        <li class="asideMenu"><h4>Account Balance</h4></li>
        <li ><span><b>{{transactionInfo.account_number}}<small>-{{transactionInfo.account_type}}</small></b></span></li>
        <li><h3><b>{{transactionInfo.available_balance}}&nbsp;{{transactionInfo.currency}}</b></h3></li>
        </ul>
    </div>
</div>
    
    <div class="favouriteLinks">
        <ul class="asideMenu" >
        <li class="asideMenu"><h4>Favourite links</h4></li>
        <li data-ng-repeat="fav in  favLinks"><a href={{fav.link_url_1}}><h4>{{fav.label_1}}<img class="arrow" src="assets/images/Arrow.png"></h4></a></li>
        </ul>
 </div>

    <div class="topPayees">
        <ul class="asideMenu" >
        <li class="asideMenu"><h4>Top Payee</h4></li>
            <li data-ng-repeat="payee in topPayee"><a ui-sref="transfers" class="topPayee"><h4>{{payee.payeeName_1}}<img class="arrow" src="assets/images/Arrow.png"></h4></a></li>
            </ul>
    </div>

