
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a><strong>Account Balance</strong></a>
            </h4>
        </div>
        <div class="panel-body">
            <ul class="asideMenu" data-ng-show="defaultData">
                <span><strong>{{accNumber}}<small>- {{accType}}</small></strong><br />
                    <strong><span class="green">{{accBalance}}</span>&nbsp;<small class="green">{{accCurrency}}</small></strong>
                </span>
            </ul>


            <ul class="asideMenu" data-ng-show="!defaultData">
              <span><strong>{{accNumber}}<small>- {{accType}}</small></strong><br />
                    <strong><span class="green">{{accBalance}}</span>&nbsp;<small class="green">{{accCurrency}}</small></strong>
               </span>
            </ul>
        </div>
    </div>

<div class="panel-group"> 
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse2"><strong>Favourite Links</strong><span class="glyphicon glyphicon-minus "></span></a>
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse in">

            <ul class="list-group">
                <li class="list-group-item" data-ng-repeat="fav in  favLinks">
                    <a href={{fav.link_url_1}}>
                        <h5>{{fav.label_1}}<img class="arrow" src="assets/images/Arrow.png"></h5>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse3"><strong>Top Payee</strong><span class="glyphicon glyphicon-minus "></span></a>
        </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse in">

        <ul class="list-group">
            <li class="list-group-item" data-ng-repeat="payee in topPayee">
                <a ui-sref="transfers" class="topPayee">
                    <h5>{{payee.payeeName_1}}<img class="arrow" src="assets/images/Arrow.png"></h5>
                </a>

        </ul>
    </div>
</div>
