<div class="panel-heading">
    <small><span  class="warning login-hint">*All fields are mandatory</span></small></div>
<div class="col-md-2 col-sm-1">
</div>
<div class="col-xs-12 col-sm-10 col-md-7">
    <form name="loginForm">
        <md-input-container class="md-block">
            <label>Customer ID<span class="warning">*</span></label>
            <input data-ng-model="$ctrl.customer_id" name="csId" data-ng-pattern="/^[0-9]{10}$/" maxlength="10">
            <div data-ng-messages="loginForm.csId.$error">
                <div data-ng-message="pattern"><span class="warning">*Must have 10 digits</span></div>
            </div>
        </md-input-container>

        <md-input-container class="md-block">
            <label>Password<span class="warning">*</span></label>
            <input data-ng-model="$ctrl.pwd" type="password">
        </md-input-container>
        <div ng-show="!($ctrl.validCredentials)" class="warning">Invalid Id and/or Password.</div> <br/>

        <a ui-sref="forgotpassword">
            <md-button class="md-primary md-hue-1"><strong>Forgot Password?</strong></md-button>
        </a>&nbsp;
        <md-button class="md-raised md-primary" data-ng-click="$ctrl.onLogin()"><strong>Login</strong></md-button>

    </form>
</div>
</div>
