<div class=row><div class="container navbar">
<div class="container">
    <div class="nav-logo" ng-show="loggedIn">
        <a ui-sref="dashboard"><img src="assets/images/Logo-blue.png" height="70px"></a>
    </div>
    <div ng-show="loggedIn" class="topName">
        <h4 class="topName">Welcome&nbsp;<strong>{{$ctrl.accName}}</strong></h4>
    </div>
    <div class="topName" ng-show="loggedIn">
        <a ui-sref="profile">Profile</a>&nbsp; | &nbsp;<a ui-sref="forgotpassword">Change Password</a>&nbsp; | &nbsp;<a ng-click="$ctrl.logout()">Logout</a>

    </div>

    <div ng-hide="loggedIn" class="lang-picker">

   <span class="flag-icon flag-icon-us"></span> EN |
 <span class="flag-icon flag-icon-nl"></span> NL

    </div>
    </div>
</div>
</div>