<div class=row><div class="container navbar">
<div class="container">
    <div class="nav-logo" ng-show="::loggedIn">
        <a ui-sref="dashboard"><img src="assets/images/Logo-blue.png" height="70px"></a>
    </div>
    <div ng-show="loggedIn" class="topName">
        <h4 class="topName">Welcome&nbsp;<strong>{{$ctrl.accName}}</strong></h4>
    </div>
    <div class="topName" ng-show="loggedIn">
        <a ui-sref="profile">Profile</a>&nbsp; | &nbsp;<a ui-sref="forgotpassword">Change Password</a>&nbsp; | &nbsp;<a ng-click="$ctrl.logout()">Logout</a>

    </div>

    <div ng-hide="loggedIn" class="lang-picker">

<!--
   <span class="flag-icon flag-icon-us"></span> EN |
 <span class="flag-icon flag-icon-nl"></span> NL
-->

        <div class="dropdown">
  <button class="btn btn-default dropdown-toggle dropdownButton" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <span class="flag-icon flag-icon-us"></span> <span class="dropdownItems"> United States</span>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu langDropDown" aria-labelledby="dropdownMenu1">
      <li class="dropdownItems" ng-click="$ctrl.selectLanguage(1)"><a href="" data-value="action"><span class="flag-icon flag-icon-nl"></span><span class="dropdownItems"> Dutch</span></li>
      <li ><a href="" data-value="action" ng-click="$ctrl.selectLanguage(2)"><span class="flag-icon flag-icon-us"></span> <span class="dropdownItems"> United States</span></li>    
    </div>
    </div>
</div>
</div>