<!--
<table class="table">
    <tbody>
        <tr>
            <td><a ui-sref="addpayee">Add Payee</a></td>
            <td><a ui-sref="removepayee">Remove Payee</a></td>
            <td><a ui-sref="editpayee">Edit Payee</a></td>
        </tr>
    </tbody>
</table>
-->

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <strong>Manage Payees</strong>
        </h4>
    </div>
    <div class="panel-body table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <td><a ui-sref="addpayee">Add Payee</a></td>
                    <td><a ui-sref="removepayee">Remove Payee</a></td>
                    <td><a ui-sref="editpayee">Edit Payee</a></td>
                </tr>
            </thead>
        </table>
    </div>
</div>
