 <script src="bower_components/d3pie/d3pie.js"></script>
<!--<div class="panel-group" ><div class="accountInfo2" id="pieChart"></div></div>-->
<p></p><p></p><p></p><p></p>
<div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <strong>Cash Statistics</strong>
            </h4>
        </div>
        <div class="panel-collapse collapse in">
            <div class="accountInfo2" id="pieChart"></div>
<!--
            <ul class="list-group">
                <li class="list-group-item" data-ng-repeat="fav in  favLinks">
                    <a href={{fav.link_url_1}}>
                        <h5>{{fav.label_1}}<img class="arrow" src="assets/images/Arrow.png"></h5>
                    </a>
                </li>
            </ul>
-->
        </div>
    </div>
</div>
   <script src="main/pie.js"></script>