<div class="menu navbar">
	<div class="container-fluid">

        <div class="navbar-header ">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapseNavbar">
        <span  class="glyphicon glyphicon-list menuDropdown"></span>
      </button>
        </div>
        <div class="collapse navbar-collapse nav nav-pills" id="collapseNavbar">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a class="mainMenu" ui-sref="cards"><strong>Cards</strong></a></li>
                <li>
                    <a class="mainMenu" ui-sref="loans"><strong>Deposits</strong></a></li>
                <li>
                    <a class="mainMenu" ui-sref="mutualfunds"><strong>Investments</strong></a></li>
                <li>
                    <a class="mainMenu" ui-sref="nearby"><strong>Loans</strong></a></li>
                <li>
                    <a class="mainMenu" ui-sref="contactus"><strong>Wallets</strong></a></li>
				<li>
                    <a class="mainMenu" ui-sref="contactus"><strong>Offers</strong></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
        
        <div class="dropdown">
  <button class="btn btn-default dropdown-toggle dropdownButton" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <span class="flag-icon flag-icon-us"></span> <span class="dropdownItems"> United States</span>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu langDropDown" aria-labelledby="dropdownMenu1">
	  <li class="dropdownItems" ng-click="$ctrl.selectLanguage(1)"><a href="" data-value="action"></a><span class="flag-icon flag-icon-nl"></span><span class="dropdownItems"> Dutch</span></li>
	  <li ><a href="" data-value="action" ng-click="$ctrl.selectLanguage(2)"></a><span class="flag-icon flag-icon-us"></span> <span class="dropdownItems"> United States</span></li></ul>    
    </div>
            </ul>
        </div>
</div>
</div>
