
<div class="navbar menu ">
    <div class="container">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="glyphicon glyphicon-list menuDropdown"></span>
      </button>
	  <a class="navbar-toggle collapsed customerName"  ui-sref="profile"> Hi,&nbsp;{{accName}}</a>
      <div class="collapse navbar-collapse" id="myNavbar">
<ul class="nav navbar-nav ">
<li>
<a class="mainMenu" data-ng-click="delectedMenu('one')" ui-sref="dashboard">Dashboard</a></li>
<li>
<a class="mainMenu" ui-sref="transfers">Transfers</a></li>
<li>
<a class="mainMenu" ui-sref="cards">Cards</a></li>
<li>
<a class="mainMenu" ui-sref="loans">Loans</a></li>
<li>
<a class="mainMenu" ui-sref="mutualfunds">Mutual Funds</a></li>
<li>
<a class="mainMenu" ui-sref="nearby">Nearby</a></li>
<li>
<a class="mainMenu" ui-sref="contactus">Contact Us</a></li>
</ul>

<ul class="nav navbar-nav navbar-right">
        <li> <a class="customerName" ui-sref="profile"> Hi,&nbsp;{{accName}}</a></li>
      </ul>
</div>
</div>
</div>
   
