<h4>Account Details</h4>
  <div class="accountInfo">
  <div class="table-responsive">
  <table class="table">
  <thead>
  <tr class="tableheading"><td>Account Number</td>
  <td>Account Type</td>
  <td>Available Balance</td>
  <td>Opening Date</td>
  <td>Currency</td>
  </tr>  
  </thead>
  <tbody>
  <tr><td><a ui-sref="lastTransactions">33307911126</a></td>
  <td>Savings</td>
  <td><a ui-sref="lastTransactions">15500</a></td>
  <td>07/03/2010</td>
  <td>INR</td>
  </tr>
  <tr><td><a href="#">33302544485</a></td>
  <td>Savings</td>
  <td><a href="#">10550</a></td>
  <td>04/03/2009</td>
  <td>INR</td>
  </tr>
  <tr><td><a href="#">33302543485</a></td>
  <td>Current</td>
  <td><a href="#">40550</a></td>
  <td>04/03/2013</td>
  <td>INR</td>
  </tr>
  </tbody>
  </table>
  </div>

</div>