<md-dialog class="success-dialog">

	<md-dialog-content>
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<span class="green">
            <p><span><img src="../../assets/images/success.PNG" class="image-responsive"></span></p>
			<p><span>Payee added</span></p>
			</span>
			<md-button class="md-raised md-primary" ui-sref="dashboard" ng-click="cancel()">Home</md-button>
			<md-button class="md-raised md-primary" ui-sref="transfers" ng-click="cancel()">Transfer</md-button>
			<md-button class="md-raised md-primary" ui-sref="editpayee" ng-click="cancel()">Edit Payee</md-button>
		</div>
		<div class="col-md-2"></div>

		
	</md-dialog-content>

</md-dialog>
