<div class="quickLinks">
    <h2 class="text-center headingQuickLinks" ng-cloak>{{'quickLinks' | translate}}</h2>
        <hr><br>
        <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-3 col-xs-offset-4 col-xs-6 col-md-offset-0 col-sm-offset-0">
                <table class="quickLinks-table">
                    <th><span class="quicklinksHeader"><strong ng-cloak>{{'product' | translate}}</strong></h4></th>
                    <tr><td ><a href="" class="quicklinksData" ng-cloak>- {{'creditCard' | translate}}</a></td></tr>
                    <tr><td><a href="" class="quicklinksData" ng-cloak>- {{'personalLoan' | translate}}</a></td></tr>
                    <tr><td><a href="" class="quicklinksData" ng-cloak>- {{'recurringDeposit' | translate}}</a></td></tr>
                    <tr><td><a href="" class="quicklinksData" ng-cloak>- {{'fixedDeposit' | translate}}</a></td></tr>
                    <tr><td><a href="" class="quicklinksData" ng-cloak>- {{'homeLoan' | translate}}</a></td></tr>
                </table>
            </div>
            <div class="col-md-4 col-sm-5 col-xs-offset-3 col-xs-6 col-md-offset-0 col-sm-offset-0">
             <table  class="quickLinks-table">

                    <th><span class="quicklinksHeader"><strong ng-cloak>{{'info' | translate}}</strong></h4></th>
                    <tr><td><a href="" class="InfoData" ng-cloak>- {{'atmList'| translate}}</a></td></tr>
                    <tr><td><a href="" class="InfoData" ng-cloak>- {{'creditRewards' | translate}}</a></td></tr>
                    <tr><td><a href="" class="InfoData" ng-cloak>- {{'phoneBanking' | translate}}</a></td></tr>
                    <tr><td><a href="" class="InfoData" ng-cloak>- {{'formsCenter' | translate}}</a></td></tr>
                    <tr><td><a href="" class="InfoData" ng-cloak>- {{'intrestRates'| translate}}</a></td></tr>

                </table>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-offset-3 col-xs-6 col-md-offset-0 col-sm-offset-0">
             <table  class="quickLinks-table">
                    <th><span class="quicklinksHeader"><strong ng-cloak>{{'calculator' | translate}}</strong></h4></th>
                    <tr><td><a href="" class="CalData" ng-cloak>- {{'CCemiCalculator' | translate}}</a></td></tr>
                    <tr><td><a href="" class="CalData" ng-cloak>- {{'loanEmiCalc' | translate}}</a></td></tr>
                    <tr><td><a href="" class="CalData" ng-cloak>- {{'carLoanCal' | translate}}</a></td></tr>
                    <tr><td><a href="" class="CalData" ng-cloak>- {{'twoWheelerLoan' | translate}}</a></td></tr>
                    <tr><td><a href="" class="CalData" ng-cloak>- {{'viewAll' | translate}}</a></td></tr>
                </table>
            </div>
        </div>    
    </div>
    </div> 
    <div class="specialOffers">
    <h2 class="text-center specialOffersHeading" ng-cloak>{{'specialOffers' | translate}}</h2>
        <hr>
        <br>
        <div class="container">
            <div class="row specialLinksRow">
       <div class="col-md-4">
        <div class="thumbnail">
          <img class="Offer1Image" src="{{'offer1Image' | translate}}" alt="Lights">
          <div class="caption">
            <h3 class="bigBasket"><a href="www.bigbasket.com" ng-cloak>{{'offer1Heading' | translate}}</a></h3>
              <p class="bigBasketDetail" ng-cloak>{{'offer1Details' | translate}}</p>
              <div class="text-right"><span class="viewAll"><a href="www.bigbasket.com" ng-cloak>{{'viewAll' | translate}}</a></span></div>
          </div>
      </div>
        </div> 
                <div class="col-md-4">
        <div class="thumbnail">
          <img src="{{'offer2Image' | translate}}" alt="Lights">
          <div class="caption">
            <h3 class=" bigBasket"><a href="www.ebay.com" ng-cloak>{{'offer2Heading' | translate}}</a></h3>
              <p class="bigBasketDetail" ng-cloak>{{'offer2Details' | translate}}</p>
              <div class="text-right"><span class="viewAll"><a href="www.ebay.com" ng-cloak>{{'viewAll' | translate}}</a></span></div>
          </div>
      </div>
        </div> 
         <div class="col-md-4">
        <div class="thumbnail">
             <div class="caption ">
                 <h3 class=" bigBasket"><a href="" ng-cloak>{{'offer3Details' | translate}}</a></h3>
          </div>
          <img src="{{'offer3Image' | translate}}" class="personalLoanImage" alt="Lights" height=100px;>
         
      </div>
        </div> 
            </div>
        </div>
</div>

     

