<div class="quickLinks">
    <h2 class="text-center headingQuickLinks">{{'quickLinks' | translate}}</h2>
        <hr><br>
        <div class="container">
        <div class="row">
            <div class="col-md-3">
                <table>
                    <th><span class="quicklinksHeader"><strong>{{'product' | translate}}</strong></h4></th>
                    <tr><td ><a href="" class="quicklinksData">- {{'creditCard' | translate}}</a></td></tr>
                    <tr><td><a href="" class="quicklinksData">- {{'personalLoan' | translate}}</a></td></tr>
                    <tr><td><a href="" class="quicklinksData">- {{'recurringDeposit' | translate}}</a></td></tr>
                    <tr><td><a href="" class="quicklinksData">- {{'fixedDeposit' | translate}}</a></td></tr>
                    <tr><td><a href="" class="quicklinksData">- {{'homeLoan' | translate}}</a></td></tr>
                </table>
            </div>
            <div class="col-md-5" >
             <table>

                    <th><span class="quicklinksHeader"><strong>{{'info' | translate}}</strong></h4></th>
                    <tr><td><a href="" class="InfoData">- {{'atmList'| translate}}</a></td></tr>
                    <tr><td><a href="" class="InfoData">- {{'creditRewards' | translate}}</a></td></tr>
                    <tr><td><a href="" class="InfoData">- {{'phoneBanking' | translate}}</a></td></tr>
                    <tr><td><a href="" class="InfoData">- {{'formsCenter' | translate}}</a></td></tr>
                    <tr><td><a href="" class="InfoData">- {{'intrestRates'| translate}}</a></td></tr>

                </table>
            </div>
            <div class="col-md-4">
             <table>
                    <th><span class="quicklinksHeader"><strong>{{'calculator' | translate}}</strong></h4></th>
                    <tr><td><a href="" class="CalData">- {{'CCemiCalculator' | translate}}</a></td></tr>
                    <tr><td><a href="" class="CalData">- {{'loanEmiCalc' | translate}}</a></td></tr>
                    <tr><td><a href="" class="CalData">- {{'carLoanCal' | translate}}</a></td></tr>
                    <tr><td><a href="" class="CalData">- {{'twoWheelerLoan' | translate}}</a></td></tr>
                    <tr><td><a href="" class="CalData">- {{'viewAll' | translate}}</a></td></tr>
                </table>
            </div>
        </div>    
    </div>
    </div> 
    <div class="specialOffers">
    <h3 class="text-center specialOffersHeading">{{'specialOffers' | translate}}</h3>
        <hr>
        <br>
        <div class="container">
            <div class="row">
       <div class="col-md-4">
        <div class="thumbnail">
          <img src="{{'offer1Image' | translate}}" alt="Lights">
          <div class="caption">
            <h3 class="bigBasket"><a href="">{{'offer1Heading' | translate}}</a></h3>
              <p class="bigBasketDetail">{{'offer1Details' | translate}}</p>
              <div class="text-right"><span class="viewAll"><a href="">{{'viewAll' | translate}}</a></span></div>
          </div>
      </div>
        </div> 
                <div class="col-md-4">
        <div class="thumbnail">
          <img src="{{'offer2Image' | translate}}" alt="Lights">
          <div class="caption">
            <h3 class=" bigBasket"><a href="">{{'offer2Heading' | translate}}</a></h3>
              <p class="bigBasketDetail">{{'offer2Details' | translate}}</p>
              <div class="text-right"><span class="viewAll"><a href="">{{'viewAll' | translate}}</a></span></div>
          </div>
      </div>
        </div> 
         <div class="col-md-4">
        <div class="thumbnail">
             <div class="caption ">
                 <h3 class=" bigBasket"><a href="">{{'offer3Details' | translate}}</a></h3>
          </div>
          <img src="{{'offer3Image' | translate}}" class="personalLoanImage" alt="Lights" height=100px;>
         
      </div>
        </div> 
        </div> 
    </div>
        </div>
        </div>

