

<top-menu></top-menu>
</div>
<div class=" container">
<div class="row">
<div class="col-md-3 col-sm-3 ">
<left-menu></left-menu>
</div>
<div class="col-md-9 col-sm-9 ">
 
    <div class="panel panel-default">
<div class="panel-heading panel-heading-transfer">
  <h4>Cards</h4>
    </div>
    <div class="panel-body cardsPanel">
     
         <md-content class="content">
            <md-tabs md-stretch-tabs="always" class="form-tabs" md-dynamic-height>


                <md-tab class="tab-head" label="Airline" data-ng-click="getCardData('airline')" >
                    <md-content class="md-padding">
                        <card-detail></card-detail>
                    </md-content>
                </md-tab>

                <md-tab class="tab-head" label="Fuel" data-ng-click="getCardData('fuel')">
                    <md-content class="md-padding ">
                        <card-detail></card-detail>
                    </md-content>
                </md-tab>
                
                <md-tab class="tab-head" label="Metro Card" data-ng-click="getCardData('metro')">
                    <md-content class="md-padding">
                        <card-detail></card-detail>
                    </md-content>
                </md-tab>
                
                <md-tab class="tab-head" label="Expression Card" data-ng-click="getCardData('expression')">
                    <md-content class="md-padding">
                       <card-detail></card-detail>
                    </md-content>
                </md-tab>
                
                <md-tab class="tab-head" label="Contact Card" data-ng-click="getCardData('contact')">
                    <md-content class="md-padding">
                        <card-detail></card-detail>
                    </md-content>
                </md-tab>

            </md-tabs>
        </md-content>
        
    </div>
</div>
  
</div>
 </div>
</div>

















