<div id="myCarousel" class="carousel slide image">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner">
		<div class="item active">
			<img src="../assets/images/banner1.jpg" style="width:100%" class="img-responsive">

		</div>
		<div class="item">
			<img src="../assets/images/banner2.jpg" class="img-responsive">

		</div>
		<div class="item">
			<img src="../assets/images/banner3.jpg" class="img-responsive">

		</div>
	</div>
</div>
<div class="quickLinks container">
	<h2 class="text-center headingQuickLinks">Cards</h2>
	<hr><br>
	

			<md-content class="content">
				<md-tabs md-stretch-tabs="always" class="form-tabs" md-dynamic-height>


					<md-tab class="tab-head" label="Credit Cards" data-ng-click="getCardData('airline')">
						<md-content class="md-padding">
							<credit-card></credit-card>
						</md-content>
					</md-tab>

					<md-tab class="tab-head" label="debit cards" data-ng-click="getCardData('fuel')">
						<md-content class="md-padding ">
							<debit-card></debit-card>
						</md-content>
					</md-tab>

					<md-tab class="tab-head" label="travel cards" data-ng-click="getCardData('metro')">
						<md-content class="md-padding">
							<travel-card></travel-card>
						</md-content>
					</md-tab>

					<md-tab class="tab-head" label="international cards" data-ng-click="getCardData('expression')">
						<md-content class="md-padding">
							<international-card></international-card>
						</md-content>
					</md-tab>

					<md-tab class="tab-head" label="prepaid cards" data-ng-click="getCardData('contact')">
						<md-content class="md-padding">
							<prepaid-card></prepaid-card>
						</md-content>
					</md-tab>

				</md-tabs>
			</md-content>

		</div>

 

<script>
	$('#myCarousel').carousel({
		interval: 2000,
		cycle: true
	});

</script>
