<div class="footer">

    <div class="container-fluid">
    <div class="row">
    <div class="col-md-2 col-md-offset-1 col-sm-3 col-sm-offset-1 col-xs-4">
       <table class="footer-table">
        <tbody>
       <th class="footer-head"><a href="">Personal Banking</a></th>
            <tr><td class="text-left"><a href="">Accounts & Deposits</a></td></tr>
            <tr><td class="text-left"><a href="">Loans</a></td></tr>
            <tr><td class="text-left"><a href="">Cards</a></td></tr>
            <tr><td class="text-left"><a href="">Investments & Insurance</a></td></tr>
            <tr><td class="text-left"><a href="">Financial Inclusion</a></td></tr>
            <tr><td class="text-left"><a href="">Convenience Banking</a></td></tr>
       </tbody>
        </table>
            </div>
          <div class="col-md-2 col-xs-4">
       <table class="footer-table">
        <tbody>
       <th class="footer-head"><a href="">NRI Banking</a></th>
            <tr><td class="text-left"><a href="">Accounts & deposits</a></td></tr>
            <tr><td class="text-left"><a href="">Transfer Money</a></td></tr>
            <tr><td class="text-left"><a href="">Loans</a></td></tr>
            <tr><td class="text-left"><a href="">Cards</a></td></tr>
            <tr><td class="text-left"><a href="">Investments & Insurance</a></td></tr>
            <tr><td class="text-left"><a href="">Convenience Banking</a></td></tr>
       </tbody>
        </table>
            </div>
         <div class="col-md-2 col-xs-3">
       <table class="footer-table">
        <tbody>
       <th class="footer-head"><a href="">Premier</a></th>
            <tr><td class="text-left"><a href="">Privilege Banking</a></td></tr>
            <tr><td class="text-left"><a href="">Personal Banking</a></td></tr>
            <tr><td class="text-left"><a href="">Business Banking</a></td></tr>
            <tr><td class="text-left"><a href="">NRI banking</a></td></tr>
            <tr><td class="text-left"><a href="">Investments</a></td></tr>
            <tr><td class="text-left"><a href="">Privy Select</a></td></tr>
       </tbody>
        </table>
        </div>
        <div class="col-md-2 col-xs-6">
             <table class="footer-table">
        <tbody>
       <th class="footer-head"><a href="">Wealth Management</a></th>
            <tr><td class="text-left"><a href="">Home</a></td></tr>
            <tr><td class="text-left"><a href="">Know Your Asset Class</a></td></tr>
            <tr><td class="text-left"><a href="">Build your Portfolio</a></td></tr>
            <tr><td class="text-left"><a href="">About Clearbank Wealth Management</a></td></tr>
            <tr><td class="text-left"><a href="">Investments</a></td></tr>
            <tr><td class="text-left"><a href="">Privy Select</a></td></tr>
       </tbody>
        </table>
            </div>
               <div class="col-md-2 col-xs-6">
             <table class="footer-table">
        <tbody>
       <th class="footer-head"><a href="">Social Media</a></th>
            <tr><a href=""><td class="text-left"><i class="fa fa-facebook-official" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-twitter-square" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; <i class="fa fa-linkedin-square" aria-hidden="true"></i></td></a></tr>
            
       </tbody>
        </table>
            </div>
            </div>
     
    </div>
     

     <div class="footerMesssage">
         <div class="col-md-8 col-md-offset-1 col-xs-12 text-left"> <span class="message">Site best viewed in IE7+,Firefox 3.5+,Chrome 3+,Safari 5.0+ at 1024 X 768 pixels resolution.</div>
             <div class="col-md-3 col-xs-12 text-right"><span class="message">&copy; 2017 Clear Bank</span></div>
   
    </div>

      </div> 