<div class="footer">

    <div class="container-fluid">
    <div class="row">
    <div class="col-md-2 col-md-offset-1 col-sm-3 col-sm-offset-1 col-xs-4">
       <table class="footer-table">
        <tbody>
       <th class="footer-head"><a href="">{{'personalBanking' | translate}}</a></th>
            <tr><td class="text-left"><a href="">{{'accountsAndDeposits' | translate}}</a></td></tr>
            <tr><td class="text-left"><a href="">{{'loans' | translate}}</a></td></tr>
            <tr><td class="text-left"><a href="">{{'cards' | translate}}</a></td></tr>
            <tr><td class="text-left"><a href="">{{'investmentsAndInsurance' | translate}}</a></td></tr>
            <tr><td class="text-left"><a href="">{{'financialInclusion' | translate}}</a></td></tr>
            <tr><td class="text-left"><a href="">{{'convenienceBanking' | translate}}</a></td></tr>
       </tbody>
        </table>
            </div>
          <div class="col-md-2 col-xs-4">
       <table class="footer-table">
        <tbody>
       <th class="footer-head"><a href="">{{'NRIBanking' | translate}}</a></th>
            <tr><td class="text-left"><a href="">{{'accountsAndDeposits' | translate}}</a></td></tr>
            <tr><td class="text-left"><a href="">{{'transferMoney' | translate}}</a></td></tr>
            <tr><td class="text-left"><a href="">{{'loans' | translate}}</a></td></tr>
            <tr><td class="text-left"><a href="">{{'cards' | translate}}</a></td></tr>
            <tr><td class="text-left"><a href="">{{'investmentsAndInsurance' | translate}}</a></td></tr>
            <tr><td class="text-left"><a href="">{{'convenienceBanking' | translate}}</a></td></tr>
       </tbody>
        </table>
            </div>
         <div class="col-md-2 col-xs-3">
       <table class="footer-table">
        <tbody>
       <th class="footer-head"><a href="">{{'premier' | translate}}</a></th>
            <tr><td class="text-left"><a href="">{{'privilegeBanking' | translate}}</a></td></tr>
            <tr><td class="text-left"><a href="">{{'personalBanking' | translate}}</a></td></tr>
            <tr><td class="text-left"><a href="">{{'businessBanking' | translate}}</a></td></tr>
            <tr><td class="text-left"><a href="">{{'NRIbanking' | translate}}</a></td></tr>
            <tr><td class="text-left"><a href="">{{'investments' | translate}}</a></td></tr>
            <tr><td class="text-left"><a href="">{{'privySelect' | translate}}</a></td></tr>
       </tbody>
        </table>
        </div>
        <div class="col-md-2 col-xs-6">
             <table class="footer-table">
        <tbody>
       <th class="footer-head"><a href="">{{'wealthManagement' | translate}}</a></th>
            <tr><td class="text-left"><a href="">{{'home' | translate}}</a></td></tr>
            <tr><td class="text-left"><a href="">{{'knowYourAssetClass' | translate}}</a></td></tr>
            <tr><td class="text-left"><a href="">{{'buildYourPortfolio'| translate}}</a></td></tr>
            <tr><td class="text-left"><a href="">{{'aboutClearbankWealthManagement' | translate}}</a></td></tr>
            <tr><td class="text-left"><a href="">{{'investments' | translate}}</a></td></tr>
            <tr><td class="text-left"><a href="">{{'privySelect'| translate}}</a></td></tr>
       </tbody>
        </table>
            </div>
               <div class="col-md-2 col-xs-6">
             <table class="footer-table">
        <tbody>
       <th class="footer-head"><a href="">{{'socialMedia' | translate}}</a></th>
            <tr><a href=""><td class="text-left"><i class="fa fa-facebook-official" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-twitter-square" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; <i class="fa fa-linkedin-square" aria-hidden="true"></i></td></a></tr>
            
       </tbody>
        </table>
            </div>
            </div>
     
    </div>
     

     <div class="footerMesssage">
         <div class="col-md-8 col-md-offset-1 col-xs-12 text-left"> <span class="message">
{{'siteMessage' | translate}}            </div>
             <div class="col-md-3 col-xs-12 text-right"><span class="message">&copy; 2017 Clear Bank</span></div>
   
    </div>

      </div> 