
<div class="footer" ng-controller="footerController as footerCtrl" ng-show="footerCtrl.showFooter">

    <div class="container-fluid">
    <div class="row">

        <div class="col-xs-12 hidden-md hidden-lg hidden-sm footer-small" style="color:white">

            <span><a href="">{{'personalBanking' | translate}}</a></span>&nbsp;&nbsp;|<span>&nbsp;&nbsp;<a href="">{{'NRIBanking' | translate}}</a>a</span>&nbsp;&nbsp;|<span>&nbsp;&nbsp;<a href="">{{'premier' | translate}}</a></span>&nbsp;&nbsp;
            <br>
            <span>&nbsp;&nbsp;<a href="">{{'wealthManagement' | translate}}</a></span>
        </div>
    <div class="col-md-2 col-sm-3  hidden-xs footerAlign" >
       <table class="footer-table ">
        <tbody>
       <th class="footer-head "><a href="" ng-cloak>{{'personalBanking' | translate}}</a></th>
            <tr class="hidden-xs"><td class="text-left"><a href="" ng-cloak>{{'accountsAndDeposits' | translate}}</a></td></tr>
            <tr class="hidden-xs"><td class="text-left"><a href="" ng-cloak>{{'loans' | translate}}</a></td></tr>
            <tr class="hidden-xs"><td class="text-left"><a href="" ng-cloak>{{'cards' | translate}}</a></td></tr>
            <tr class="hidden-xs"><td class="text-left"><a href="" ng-cloak>{{'investmentsAndInsurance' | translate}}</a></td></tr>
            <tr class="hidden-xs"><td class="text-left"><a href="" ng-cloak>{{'financialInclusion' | translate}}</a></td></tr>
            <tr class="hidden-xs"><td class="text-left"><a href="" ng-cloak>{{'convenienceBanking' | translate}}</a></td></tr>
       </tbody>
        </table>
            </div>
          <div class="col-md-2 col-sm-4 hidden-xs">
       <table class="footer-table hidden-xs">
        <tbody>
       <th class="footer-head"><a href="" ng-cloak>{{'NRIBanking' | translate}}</a></th>
            <tr class="hidden-xs"><td class="text-left"><a href="" ng-cloak>{{'accountsAndDeposits' | translate}}</a></td></tr>
            <tr class="hidden-xs"><td class="text-left"><a href="" ng-cloak>{{'transferMoney' | translate}}</a></td></tr>
            <tr class="hidden-xs"><td class="text-left"><a href="" ng-cloak>{{'loans' | translate}}</a></td></tr>
            <tr class="hidden-xs"><td class="text-left"><a href="" ng-cloak>{{'cards' | translate}}</a></td></tr>
            <tr class="hidden-xs"><td class="text-left"><a href="" ng-cloak>{{'investmentsAndInsurance' | translate}}</a></td></tr>
            <tr class="hidden-xs"><td class="text-left"><a href="" ng-cloak>{{'convenienceBanking' | translate}}</a></td></tr>
       </tbody>
        </table>
            </div>
         <div class="col-md-2 col-sm-2  hidden-xs">
       <table class="footer-table hidden-xs">
       
       <th class="footer-head"><a href="" ng-cloak>{{'premier' | translate}}</a></th>
           <tbody>  <tr class="hidden-xs"><td class="text-left"><a href="" ng-cloak>{{'privilegeBanking' | translate}}</a></td></tr>
            <tr class="hidden-xs"><td class="text-left"><a href="" ng-cloak>{{'personalBanking' | translate}}</a></td></tr>
            <tr class="hidden-xs"><td class="text-left"><a href="" ng-cloak>{{'businessBanking' | translate}}</a></td></tr>
            <tr class="hidden-xs"><td class="text-left"><a href="" ng-cloak>{{'NRIbanking' | translate}}</a></td></tr>
            <tr class="hidden-xs"><td class="text-left"><a href="" ng-cloak>{{'investments' | translate}}</a></td></tr>
            <tr class="hidden-xs"><td class="text-left"><a href="" ng-cloak>{{'privySelect' | translate}}</a></td></tr>
       </tbody>
        </table>
        </div>
        <div class="col-md-2 col-sm-2 hidden-xs">
             <table class="footer-table hidden-xs">
        <tbody>
       <th class="footer-head"><a href="" ng-cloak>{{'wealthManagement' | translate}}</a></th>
            <tr class="hidden-xs"><td class="text-left" ng-cloak><a href="">{{'home' | translate}}</a></td></tr>
            <tr class="hidden-xs"><td class="text-left" ng-cloak><a href="">{{'knowYourAssetClass' | translate}}</a></td></tr>
            <tr class="hidden-xs"><td class="text-left" ng-cloak><a href="">{{'buildYourPortfolio'| translate}}</a></td></tr>
            <tr class="hidden-xs"><td class="text-left" ng-cloak><a href="">{{'aboutClearbankWealthManagement' | translate}}</a></td></tr>
            <tr class="hidden-xs"><td class="text-left" ng-cloak><a href="">{{'investments' | translate}}</a></td></tr>
            <tr class="hidden-xs"><td class="text-left"><a href="" ng-cloak>{{'financialInclusion' | translate}}</a></td></tr>
       
       </tbody>
        </table>
            </div>
               <div class="col-md-2 hidden-xs">
             <table class="footer-table ">
        
       <th class="footer-head hidden-xs"><a href="" ng-cloak>{{'socialMedia' | translate}}</a></th>
           <tbody> <tr><a href=""><td class="text-left"><i class="fa fa-facebook-official" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-twitter-square" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; <i class="fa fa-linkedin-square" aria-hidden="true"></i></td></a></tr>
            
       </tbody>
        </table>
            </div>
            </div>

     <div class="footerMesssage hidden-xs">
         <div class="container-fluid">
			 <div class="col-md-7 col-sm-9 siteMessage"> <span class="message" ng-cloak></span>
{{'siteMessage' | translate}} </div>     
              <div class="container-fluid">
             <div class="row">
             <div class="hidden-md hidden-lg hidden-sm col-xs-6">
                 <li class="list-inline"><a href=""><ul class="text-left"><i class="fa fa-facebook-official fa-facebook-official-mobile" aria-hidden="true" style="font-size:22px"></i>&nbsp;&nbsp;&nbsp;<i class="fa fa-twitter-square fa-twitter-square-mobile" aria-hidden="true" style="font-size:22px"></i>&nbsp;&nbsp;&nbsp; <i class="fa fa-linkedin-square fa-linkedin-square-mobile" aria-hidden="true" style="font-size:22px"></i></ul></a></li></div>
             <div class="col-md-3 text-right"><span class="message">&copy; 2017 Clear Bank</span></div>
                  </div>
             </div>
    </div>

      </div> 
    </div>
    </div>
