<div class="row">
<div class="col-md-offset-4">
<div class="forget-form well">
<form class="form-horizontal" name="forgotPassForm" ng-show="forgotPasswordWidget">
<fieldset>
    <legend >CHANGE PASSWORD</legend>
    <div class="form-group">
      <label class="control-label" >ENTER MOBILE NUMBER:</label>
     <input type="text"  class="form-control"  placeholder="Enter registered mobile number" name="nums" ng-model="nums" required ng-pattern="/^[0-9]{10}$/" maxlength="10">
      <span class="valText"  ng-show="forgotPassForm.nums.$error.pattern">Please enter a valid mobile number</p> 
      </div>
   
     <div class="form-group">
      <label class="control-label" >RESET PASSWORD:</label>
   <input type="password" class="form-control"  placeholder="New password" name="changePassword" ng-model="changePassword"  required ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&-_/\\])[A-Za-z\d$@$!%*?&-_/\\]{8,20}/"  ng-disabled="!forgotPassForm.nums.$valid">
      <span class="valText" ng-show="forgotPassForm.changePassword.$error.pattern">Password should have 8-20 alphanumeric and special characters
      </div>

     <div class="form-group">
      <label class="control-label">CONFIRM PASSWORD:</label>
  
        <input type="password" class="form-control"  oncopy="return false" onpaste="return false"  placeholder="Confirm New password" name="confirmPassword" ng-model="confirmPassword" ng-disabled="!forgotPassForm.$valid"/>
     <span class="valText" ng-show="No_match">Passwords do not match</span>
      </div>
    </fieldset>
    <button type="button" class="btn btn-success reset_pass"  oncopy="return false" onpaste="return false"  ng-disabled="!forgotPassForm.$valid" ng-click="changeSubmit()" data target="#changeSuccessModal">Submit</button>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/"><button type="button" class="btn btn-warning reset_pass"  oncopy="return false" onpaste="return false">Cancel</button></a>
	</form>
	 <div  ng-show="changeSuccessWidget">
<h2>
Password changed successfully. Please <a href="#">LOGIN</a> to continue.
</h2>
</div>
 </div>
 </div>
 </div>
 </div>
 <div class="modal fade" id="PasswordRulesModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">PASSWORD RULES</h4>
        </div>
        <div class="modal-body">
 			<ul>
         <li>
         Password should contain 8 or more characters.
         </li>
         <li>
         Password Must contain a number.
         </li>
         <li>
         Password Must contain a special character.
         </li>
          <li>
         Password Must contain an Uppercase letter.
         </li>
         </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
