<div class="row">
<div class="col-md-offset-4">
<div class="forget-form well">
<form class="form-horizontal" name="forgotPassForm">
<fieldset>
    <legend >CHANGE PASSWORD</legend>
    <div class="form-group">
      <label class="control-label" >ENTER MOBILE NUMBER:</label>
     <input type="text"  class="form-control"  placeholder="Enter Registered Mobile" name="nums" ng-model="nums" required ng-pattern="/^[0-9]{10}$/">
      <span class="valText"  ng-show="forgotPassForm.nums.$error.pattern">Please, Enter a valid Mobile number</p> 
      </div>
   
     <div class="form-group">
      <label class="control-label" >RESET PASSWORD:</label>
   <input type="password" class="form-control"  placeholder="New password" name="changePassword" ng-model="forgotPassController.changePassword"  required ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&-_/\\])[A-Za-z\d$@$!%*?&-_/\\]{8,20}/" />
      <span class="valText" ng-show="forgotPassForm.changePassword.$error.pattern">Incorrect Password Format <a href="#" data-toggle="modal" data-target="#PasswordRulesModal">Click here to see Password rules</a></span> 
      </div>

     <div class="form-group">
      <label class="control-label">CONFIRM PASSWORD:</label>
  
        <input type="password" class="form-control"  oncopy="return false" onpaste="return false"  placeholder="Confirm New password" name="confirmPassword" ng-model="forgotPassController.confirmPassword" ng-disabled="!forgotPassForm.$valid"/>
     <span class="valText" ng-show="forgotPassController.No_match">Password match failed</span>
      </div>
    </fieldset>
    <button type="button" class="btn btn-primary reset_pass"  oncopy="return false" onpaste="return false"  ng-disabled="!forgotPassForm.$valid" ng-click="forgotPassController.changeSubmit()" data target="#changeSuccessModal">Submit</button>
</form>
 </div>
 </div>
 </div>
 </div>
 <div class="modal fade" id="PasswordRulesModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">PASSWORD RULES</h4>
        </div>
        <div class="modal-body">
 			<ul>
         <li>
         Password should contain 8 or more characters.
         </li>
         <li>
         Password Must contain a number.
         </li>
         <li>
         Password Must contain a special character.
         </li>
          <li>
         Password Must contain an Uppercase letter.
         </li>
         </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
