<div class="image"  id="image-container">
    <img id="top-header" src="assets/images/Banner.jpg" alt="homeimage" class="homeImage img-responsive" />
    <div class="container">
        <div class="col-md-offset-9 col-xs-offset-1">
            <div class="panel panel-default textOverImage">
    <div class="panel-body">
         <h2 class="loginHead" ng-cloak>{{'login' | translate}}</h2>

<div class="login-form">
 <form name="loginForm">
      <md-input-container class="md-block">
            <label ng-cloak>{{'customerID' | translate}}<span class="warning">*</span></label>
            <input data-ng-model="$ctrl.customer_id" name="csId" data-ng-pattern="/^[0-9]{10}$/" maxlength="10">
            <div data-ng-messages="loginForm.csId.$error">
                <div data-ng-message="pattern"><span class="warning" ng-cloak>*{{'digitsWarning' | translate}}</span></div>
            </div>
         
        </md-input-container>

        <md-input-container class="md-block">
            <label ng-cloak>{{'password' | translate}}<span class="warning">*</span></label>
            <input data-ng-model="$ctrl.pwd" type="{{$ctrl.inputType}}"/>

            <span class="glyphicon glyphicon-eye-open" ng-click="$ctrl.showPassword()" id="111" ng-show="$ctrl.eyeOpen"></span>
            <span class="glyphicon glyphicon-eye-close" ng-show="$ctrl.eyeClosed" ng-click="$ctrl.hidePassword()"></span>
        </md-input-container>

        <div ng-show="!($ctrl.validCredentials)" class="warning" ng-cloak>{{'loginFailWarning' | translate}}</div> <br/>


      <md-button class="md-raised md-primary loginButton" data-ng-click="$ctrl.onLogin()"><strong ng-cloak>{{'login' | translate}}</strong></md-button>
     
            <md-button class="md-primary md-hue-1 sm-flex" data-ng-click="$ctrl.showForm()"><strong ng-cloak>{{'forgotPassword' | translate}} ?</strong></md-button>
 
    </form>
</div>
    </div>        

            <div class="panel-footer registrationFooter" ng-cloak>{{'createAccount' | translate}} <a data-ng-click="$ctrl.register()" ng-cloak>{{'RegisterNow' | translate}}</a></div>    

                </div>
            
  </div>

            </div>
     
    </div>
