
<!--
<div class="row">
    
     <div class="container home-page">
    <div class="col-md-5 col-sm-5 landing-page">
        <div class="col-md-offset-3  col-sm-offset-2 col-xs-offset-4">

            <img class="logo" src="../assets/images/Logo-white.png" />
        </div>
    </div> 


       <md-content class="content">
            <md-tabs md-stretch-tabs="always" class="form-tabs" md-dynamic-height>


                <md-tab class="tab-head" label="LOGIN" >
                    <md-content class="md-padding">
                        <login></login>
                    </md-content>
                </md-tab>

                <md-tab class="tab-head" label="REGISTER">
                    <md-content class="md-padding ">
                        <user-registration></user-registration>
                    </md-content>
                </md-tab>

            </md-tabs>
        </md-content>
    
</div>
</div>
-->
 <nav-bar></nav-bar>
    <home-image></home-image>
    <bank-links></bank-links>
    <footer></footer>
