
<div class="row">
    
     <div class="container well home-page">
    <div class="col-md-5 col-sm-5 landing-page">
        <div class="col-md-offset-4  col-sm-offset-3 col-xs-offset-2">
            <img class="logo" src="../assets/images/Logo-white.png" />
        </div>
    </div>


    <div class="col-md-7 col-sm-7 forms">
        <md-content class="content">
            <md-tabs class="form-tabs" md-dynamic-height md-border-bottom>

                <md-tab class="tab-head" label="LOGIN" >
                    <md-content class="md-padding">
                        <login></login>
                    </md-content>
                </md-tab>

                <md-tab class="tab-head" label="REGISTER">
                    <md-content class="md-padding ">
                        <user-registration></user-registration>
                    </md-content>
                </md-tab>

            </md-tabs>
        </md-content>

    </div>
    
  </div>  
   
</div>
