<div class="image"  id="image-container">
    <img id="top-header" src="assets/images/Banner.jpg" alt="homeimage" class="homeImage img-responsive" />
    <div class="container">
        <div class="col-md-offset-9 col-xs-offset-1">
            <div class="panel panel-default textOverImage">
    <div class="panel-body">
         <h2 class="loginHead">Login</h2>

<div class="login-form">
 <form name="loginForm">
      <md-input-container class="md-block">
            <label>Customer ID<span class="warning">*</span></label>
            <input data-ng-model="$ctrl.customer_id" name="csId" data-ng-pattern="/^[0-9]{10}$/" maxlength="10">
            <div data-ng-messages="loginForm.csId.$error">
                <div data-ng-message="pattern"><span class="warning">*Must have 10 digits</span></div>
            </div>
         
        </md-input-container>

        <md-input-container class="md-block">
            <label>Password<span class="warning">*</span></label>
            <input data-ng-model="$ctrl.pwd" type="{{$ctrl.inputType}}"/>
<!--            <input data-ng-model="$ctrl.pwd"  type={{inputType}}>-->
            <span class="glyphicon glyphicon-eye-open" ng-click="$ctrl.showPassword()" id="111" ng-show="$ctrl.eyeOpen"></span>
            <span class="glyphicon glyphicon-eye-close" ng-show="$ctrl.eyeClosed" ng-click="$ctrl.hidePassword()"></span>
        </md-input-container>

        <div ng-show="!($ctrl.validCredentials)" class="warning">Invalid Id and/or Password.</div> <br/>

<!--        <a ui-sref="forgotpassword">-->
      <md-button class="md-raised md-primary loginButton" data-ng-click="$ctrl.onLogin()"><strong>Login</strong></md-button>
     
            <md-button class="md-primary md-hue-1 sm-flex" data-ng-click="$ctrl.showForm()"><strong>Forgot Password?</strong></md-button>
       
<!--        </a>&nbsp;-->
<!--        <md-button class="md-raised md-primary" data-ng-click="$ctrl.onLogin()"><strong>Login</strong></md-button>-->

    </form>
</div>
    </div>        
            <div class="panel-footer registrationFooter">Don't have account yet? <a ui-sref="register">Register Now</a></div>    
                </div>
            
  </div>
<!--
    <div class="textOverImage">
        
    <h2 class="loginHead">Login</h2>

<div class="login-form">
 <form name="loginForm">
      <md-input-container class="md-block">
            <label>Customer ID<span class="warning">*</span></label>
            <input data-ng-model="$ctrl.customer_id" name="csId" data-ng-pattern="/^[0-9]{10}$/" maxlength="10">
            <div data-ng-messages="loginForm.csId.$error">
                <div data-ng-message="pattern"><span class="warning">*Must have 10 digits</span></div>
            </div>
        </md-input-container>

        <md-input-container class="md-block">
            <label>Password<span class="warning">*</span></label>
            <input data-ng-model="$ctrl.pwd" type="password">
        </md-input-container>
-->
<!--        <div ng-show="!($ctrl.validCredentials)" class="warning">Invalid Id and/or Password.</div> <br/>-->

<!--        <a ui-sref="forgotpassword">-->
     
       
<!--        </a>&nbsp;-->
<!--        <md-button class="md-raised md-primary" data-ng-click="$ctrl.onLogin()"><strong>Login</strong></md-button>-->

       
            </div>
     
    </div>
