
<div class=" container">
<div class="row">
<div class="col-md-12 col-sm-12">
<nav>
<div class="navbar menu">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="glyphicon glyphicon-list menuDropdown"></span>
      </button>
      <div class="collapse navbar-collapse" id="myNavbar">
<ul class="nav navbar-nav">
<li>
<a class="mainMenu" ui-sref="accounts">Accounts</a></li>
<li>
<a class="mainMenu" ui-ref="billpayment">Bills Payment</a></li>
<li>
<a class="mainMenu" ui-sref="cards">Cards</a></li>
<li>
<a class="mainMenu" ui-sref="loans">Loans</a></li>
<li>
<a class="mainMenu" ui-sref="mutualfunds">Mutual Funds</a></li>

</ul>
</div>
</div>
</nav>
</div>
</div>
<div class="row">
<div class="col-md-3 col-sm-3">
<div class="leftAside " >
<ul class="asideMenu">
<li class="asideItems"><a href="#">Profile</a>
<div><small>Account number:{{accountNumber}}</small>
<small>Available Balance:{{availableBalance}}</small></div></li>
<li class="asideItems"><a ui-sref="transfers">Transfers</a></li>
<li class="asideItems"><a ui-sref="deposits">Deposits</a></li>
<li class="asideItems"><a ui-sref="managepayee">Manage Payee</a></li>
<li class="asideItems" data-ng-repeat="menu in sideMenu.[{{selection}}]"><a href="#">{{menu.menuItem}}</a></li>
</ul>
</div>
</div>
<div class="col-md-9 col-sm-9">
<div class="mainView">
  <h4>Account Details</h4>
  <div class="accountInfo">
  <div class="table-responsive">
  <table class="table">
  <tbody>
  <tr><td>Account Number</td>
  <td>33307911126</td>
  </tr>
  <tr><td>Name</td>
  <td>Guest</td>
  </tr>
  <tr><td>Account Type</td>
  <td>Savings</td>
  </tr>
  <tr><td>Available Balance</td>
  <td>15500</td>
  </tr>
  <tr><td>Currency</td>
  <td>INR</td>
  </tr>
  </tbody>
  </table>
  </div>
  </div>
  <br/>
  <a href="#" ng-click="showTransaction()"><h4>Last 10 transactions</h4></a>
  <div ng-show="showTransactions">
  <div class="table-responsive">
  <table class=" table table-striped table-bordered">
  <thead>
  <tr>
  <th>Date</th>
  <th>Description</th>
  <th>Debit</th>
  <th>Credit</th>
  <th>Balance</th>
  </tr>
  </thead>
  <tbody>
  <tr>
  <td>10/11/2016</td>
  <td>to 33307911150</td>
  <td>5000</td>
  <td></td>
  <td>10050</td>
  </tr>
  <tr>
  <td>15/11/2016</td>
  <td>to 33307911150</td>
  <td>50</td>
  <td></td>
  <td>10000</td>
  </tr>
  <tr>
  <td>18/11/2016</td>
  <td>from 33307911550</td>
  <td></td>
  <td>500</td>
  <td>10500</td>
  </tr>
  <tr>
  <td>19/11/2016</td>
  <td>from 33307911550</td>
  <td></td>
  <td>500</td>
  <td>11000</td>
  </tr>
  <tr>
  <td>19/11/2016</td>
  <td>to 33307911550</td>
  <td>500</td>
  <td></td>
  <td>10500</td>
  </tr>
  <tr>
  <td>21/11/2016</td>
  <td>Paytm refund</td>
  <td></td>
  <td>200</td>
  <td>10700</td>
  </tr>
  <tr>
  <td>23/11/2016</td>
  <td>to 34307933550</td>
  <td>4000</td>
  <td></td>
  <td>6700</td>
  </tr>
  <tr>
  <td>24/11/2016</td>
  <td>from 33391155250</td>
  <td></td>
  <td>300</td>
  <td>7000</td>
  </tr>
  <tr>
  <td>25/11/2016</td>
  <td>to amazon.in(paisapay)</td>
  <td>6500</td>
  <td></td>
  <td>500</td>
  </tr>
  <tr>
  <td>25/11/2016</td>
  <td>from 3330734560</td>
  <td></td>
  <td>15000</td>
  <td>15500</td>
  </tr>
  </tbody>
  </table>
  </div>
  </div>
</div>
</div>
</div>
</div>














