
<div class=" container">
<div class="row">
<div class="col-md-3 col-sm-3 ">
<left-menu></left-menu>
</div>
    <div class="col-md-9 col-sm-9" ng-controller="payeeListController as payeeList">
    <div class="panel panel-default">
        <div class="panel-heading">
         <h3 class="panel-title"><strong>Payee list</strong></h3>
</div>
        <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                <th>Account Number</th>
            <th>Name</th>
            <th>Account Type</th>
            <th>Action</th>
                </tr>
                </thead>
            <tbody>
            <tr ng-repeat="payee in payeeList.values">
                <td>{{payee.AccountNumber}}</td>
                <td>{{payee.Name}}</td>
                 <td>{{payee.AccountType}}</td>
                 <td><a ui-sref="editpayee" ng-click="payeeList.getDetails($index)">{{payee.Action1}}</a><span>|</span><a href="" ng-click="payeeList.deletePayee($index)">{{payee.Action2}}</a></td>
                </tr>
            </tbody>
            </table>
        </div>
        </div>
    </div>