<div class=" container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <nav>
                <div class="navbar menu">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="glyphicon glyphicon-list menuDropdown"></span>
      </button>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li>
                                <a class="mainMenu" ui-sref="accounts">Accounts</a></li>
                            <li>
                                <a class="mainMenu" href="billpayment">Bills Payment</a></li>
                            <li>
                                <a class="mainMenu" href="cards">Cards</a></li>
                            <li>
                                <a class="mainMenu" href="loans">Loans</a></li>
                            <li>
                                <a class="mainMenu" href="mutualfunds">Mutual Funds</a></li>

                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-3">
            <div class="leftAside ">
                <ul class="asideMenu">
                    <li class="asideItems"><a href="#">Profile</a>
                        <div><small>Account number:{{accountNumber}}</small>
                            <small>Available Balance:{{availableBalance}}</small></div>
                    </li>
                    <li class="asideItems"><a ui-sref="transfers">Transfers</a></li>
                    <li class="asideItems"><a ui-sref="deposits">Deposits</a></li>
                    <li class="asideItems"><a ui-sref="managepayee">Manage Payee</a></li>
                    <li class="asideItems" data-ng-repeat="menu in sideMenu.[{{selection}}]"><a href="#">{{menu.menuItem}}</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9 col-sm-9">
            <div class="mainView">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><a href="#">Own Account</a></td>
                            <td><a href="#">Others Account same Bank</a></td>
                            <td><a href="#">Others Account Other Bank</a></td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-primary managePayee">Manage Payee</button>
            </div>
        </div>
    </div>
</div>
