<top-menu>
</top-menu>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-3">
            <left-menu></left-menu>
        </div>
        <div class="col-md-9 col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <strong>Transaction Type</strong>
                    </h4>
                </div>
                <div class="panel-body panel-transfers">
                    <md-radio-group class="md-primary" ng-model="selected1">
                        <div class="col-md-4 col-sm-4" >
                        <md-radio-button value="1" >
                         <strong>Your Linked ClearBank Account</strong>
                        </md-radio-button>
                        </div>
                      <div class="col-md-4 col-sm-4 ">
                       <md-radio-button value="2" >
                      <strong> Others ClearBank Account</strong>
                       </md-radio-button>
                      </div>
                      <div class="col-md-4 col-sm-4 ">
                      <md-radio-button value="3" >
                      <strong>   Other Bank (NEFT, RTGS or IMPS)</strong>
                      </md-radio-button>
                  </md-radio-group>       
                </div>
            </div>
            </div>
            <div class="row">
            <div class="col-md-12 col-sm-12">
            <transfer-detail></transfer-detail>    
                </div>
            </div>
        </div>
    </div>
</div>
