
 @CHARSET "ISO-8859-1";

 .forget-dialog {
 	width: 35%;
 	height: 50%;
 	vertical-align: middle;
 }

 .profile:hover {
 	cursor: pointer;
 }
 
 .topPayee:hover {
 	cursor: pointer;
 }
 
 .customerName {
 	color: white;
 }
 
 hr {
 	border: 1px solid gainsboro;
 }

 
 .topName {
 	float: right;
 	clear: right;
 	cursor: pointer;
 }
 
 .customerName:hover {
 	color: black;
 	cursor: pointer;
 }
 
 .lastTransaction:hover {
 	cursor: pointer;
 }
 
 .payeesMenu:hover {
 	cursor: pointer;
 }
 
 .menu {
 	background-color: rgb(20, 121, 191);
 	color: white;
 	font-size: 16px;
 	margin-top: -20px;
 	border-radius: 0px;
 	box-shadow: inset 0px 0px 4px #057;
 }
 
 .mainMenu {
 	color: white;
 }
 
 .asideMenu {
 	list-style: none;
 	padding: 0px;
 }
 
 .arrow {
 	float: right;
 }
 
 .accountBalance {
 	padding: 7%;
 }
 
 .favouriteLinks {
 	padding: 7%;
 }
 
 .topPayees {
 	margin-bottom: 8%;
 	background-color: #F8F8F8;
 	box-shadow: 0px 0px 8px #cccccc;
 	padding: 7%;
 }
 
 .mainView {
 	background-color: #FfFfFf;
 	padding: 2%;
 	box-shadow: 0px 0px 8px #cccccc;
 }
 
 .tableheading {
 	font-weight: bold;
 	color: black;
 }
 /*
 
 tbody {
 	color: #2079BE;
 	font-weight: bold;
 }
*/
 
 .managePayee {
 	text-align: center;
 }
 
 .asideMenu span {
 	color: #2079BE;
 	font-size: 15px;
 }
 
 .customBlue {
 	color: #2079BE;
 }
 
 .asideMenu span.green {
 	font-size: 30px;
 	color: #2EC40B;
 }
 
 .asideMenu small {
 	color: black;
 }
 
 .asideMenu small.green {
 	color: #2EC40B;
 	font-size: 18px;
 }
 
 .accountInfo2 {
 	text-align: center;
 }
 
 .lastTransactions {
 	display: none;
 	border: 1px solid grey;
 }
 
 .modal {
 	color: #3498db;
 }
 
 legend {
 	text-align: center;
 	padding: 10px;
 	color: black;
 }
 
 .reset_pass {
 	margin-right: -15px;
 	clear: left;
 }
 
 .valText {
 	color: red;
 }

 .warning {
 	color: red;
 }

 .modal {
 	display: none;
 	/* Hidden by default */
 	position: fixed;
 	/* Stay in place */
 	z-index: 1;
 	/* Sit on top */
 	padding-top: 150px;
 	/* Location of the box */
 	left: 0;
 	top: 0;
 	width: 100%;
 	/* Full width */
 	height: 100%;
 	/* Full height */
 	overflow: auto;
 	/* Enable scroll if needed */
 	background-color: rgb(0, 0, 0);
 	/* Fallback color */
 	background-color: rgba(0, 0, 0, 0.4);
 	/* Black w/ opacity */
 }
 
 .modal-content {
 	background-color: #fefefe;
 	margin: auto;
 	padding: 20px;
 	border: 1px solid #888;
 	width: 50%;
 }
 
 .close {
 	color: #aaaaaa;
 	float: right;
 	font-size: 28px;
 	font-weight: bold;
 }
 
 .close:hover,
 .close:focus {
 	color: #000;
 	text-decoration: none;
 	cursor: pointer;
 }
 
 .reg-form {
 	margin-top: 5%;
 	box-shadow: 0px 0px 25px #111111;
 	opacity: 0.94;
 }
 
 .bank-web {
 	min-height: 100vh;
 	background-color: #34495e;
 }
 
 .errorMsg {
 	color: red;
 }
 
 .logo {
 	max-width: 30vh;
 	margin-top: 30vh;
 }
 
 .button1 {
 	margin-right: 2%;
 }
 
 .button2 {
 	margin-left: 2%;
 }
 
 .logout {
 	color: white;
 	font-size: 2em;
 }
 
 .jumbotron {
 	background-color: transparent;
 	text-align: center;
 	margin: 5% auto;
 }
 
 .login-hint {
 	float: right;
 	font-size: 13px;
 }
 

 
 .md-button.md-hue-1.md-primary {
 	color: #2079BE;
 	font-variant-east-asian: normal;
 	float: right;
 }
 
 .md-button.md-primary.md-raised {
 	color: rgba(255, 255, 255, 0.87);
 	background-color: #2079BE;
 }
 
 .md-button.md-primary.md-raised:not([disabled]):hover,
 .md-button.md-primary.md-raised:not([disabled]):focus {
 	color: rgba(255, 255, 255, 0.87);
 	background-color: #025A9E;
 }
 
 md-input-container:not(.md-input-invalid).md-input-focused .md-input {
 	border-color: #2079BE;
 }
 
 md-input-container:not(.md-input-invalid).md-input-focused label,
 md-input-container:not(.md-input-invalid).md-input-has-value label {
 	color: #2079BE
 }
 
 .landing-page {
 	background-color: #2079BE;
 	min-height: 80vh;
 	vertical-align: middle;
 }
 
 .navbar {
 	padding-left: 0px;
 }
 /*
 .lang-picker {
 	float: right;
 	clear: right;
 	vertical-align: middle;
 	padding-top: 3%;
 }
*/
 
 .home-page,
 {
 	height: 80vh;
 	padding: 0px;
 	box-shadow: 0 0px 10px #777;
 }
 
 .form-tabs {
 	min-height: 80vh;
 }
 /*
 .login-form {
     margin-top: 10vh;
 }
 
*/
 
 .nav>li>a:hover,
 .nav>li>a:focus,
 .nav>li>a:active,
 .nav>li>a:visited {
 	text-decoration: none;
 	background-color: #1168ac;
 	color: #ffffff;
 }
 
 .panel-default>.panel-heading {
 	background-color: #ffffff;
 }
 
 .panel-default>.panel-heading a:hover,
 .panel-default>.panel-heading a:focus {
 	text-decoration: none;
 	cursor: auto;
 }
 
 .panel-default>.panel-collapse a:hover,
 .panel-default>.panel-collapse a:focus {
 	text-decoration: none;
 	cursor: pointer;
 }
 
 .panel-accountBalance {
 	padding-bottom: 0px;
 }
 
 .panel-transfers {
 	padding: 1px;
 }
 
 .panel-heading-transfer {
 	padding-top: 2px;
 	padding-bottom: 2px;
 }
 
 .transferOptions {
 	float: right;
 }
 
 .addPayeeLink {
 	vertical-align: middle;
 }
 
 .transferMethod {
 	display: none;
 }
 
 .warning_maxIMPS {
 	color: red;
 	display: none;
 	float: right;
 }
 
 .warning_maxAmount {
 	color: red;
 	display: none;
 	float: right;
 }
 
 .warning_fields {
 	color: red;
 	display: none;
 	float: right;
 }
 
 md-radio-button {
 	box-sizing: border-box;
 	display: block;
 	margin-top: 5px;
 	margin-bottom: 5px;
 	white-space: nowrap;
 	cursor: pointer;
 	position: relative;
 }
 
 md-input-container {
 	display: inline-block;
 	position: relative;
 	padding: 2px;
 	margin: 18px 0;
 	/* 	margin-bottom: -10px;*/
 	vertical-align: middle;
 	width: 100%;
 }
 
 input[type=number]::-webkit-inner-spin-button,
 input[type=number]::-webkit-outer-spin-button {
 	-webkit-appearance: none;
 	margin: 0;
 }
 
 .container>.navbar-collapse {
 	/*        margin-right: -15px;*/
 	margin-left: -15px;
 }
 
 .panel-default {
 	box-shadow: 0 0px 10px #ccc;
 	/*box-shadow: 0 0px 10px #999*/
 }
 
 .cardsPanel {
 	padding: 0px;
 }
 
 .cards {
 	padding: 5%;
 	width: 95%;
 }
 
 .panel>.list-group .list-group-item,
 .panel>.panel-collapse>.list-group .list-group-item {
 	border-width: 1px 0;
 	border-radius: 0;
 	padding-bottom: 0.5%;
 	padding-top: 0.5%;
 }
 
 .green {
 	color: #2EC40B;
 }
 
 .red {
 	color: #EF2D2D;
 }
 
 .right-head {
 	color: #2079BE;
 	float: right;
 }
 
 .right-head:hover {
 	color: #025A9E;
 	cursor: pointer;
 }
 
 .glyphicon-minus {
 	float: right;
 	font-size: 10px;
 }
 
 .dropdownButton {
 	width: 200px;
 	position: relative;
 	top: 8px;
 	right: 20px;
 }
 
 .managePayee {
 	color: #2079BE;
 }
 
 .managePayeeDropdown {
 	color: #2079BE;
 }
 
 .deletePayee {
 	color: #2079BE;
 	font-size: 18px;
 }
 
 .alert {
 	padding: 8px 35px 8px 14px;
 	margin-bottom: 18px;
 }
 
 md-toolbar {
 	background-color: red;
 }
 
 .align-center {
 	text-align: center;
 }
 
 .fa-check-circle-o {
 	color: green;
 	font-size: 72px;
 }
 
 .md-dialog-content {
 	color: green;
 }
 
 md-dialog {
 	opacity: 1;
 }
 
 md-tabs .md-tab.md-active {
 	color: #2079BE;
 }
 
 md-tabs md-ink-bar {
 	color: #2097BE;
 	display: none
 }
 
 .md-tab:not(.md-active) {
 	background-color: #FFF5F5;
 }
 
 .md-tab {
 	font-size: 16px;
 	font-weight: bolder;
 	overflow: inherit;
 }
 
 .success-dialog {
 	min-height: 30vh;
 	min-width: 30vw;
 	padding-top: 30px;
 	text-align: center;
 	font-size: 18px;
 }
 
 .form-dialog {
 	display: block;
 }
 
 .navbar-right {
 	margin: 8px auto;
 }
 
 #nav-collapse li.active {
 	color: green;
 	background-color: yellow;
 }
 
 md-radio-group:not([disabled]).md-primary .md-on {
 	background-color: #2079BE;
 }
 
 md-radio-group:not([disabled]).md-primary .md-checked .md-off {
 	border-color: #2079BE;
 }
 
 :focus {
 	outline: inherit;
 }
 /*new design*/
 
 .footer {
    position: relative;
 	right: 0;
 	bottom: 0;
 	left: 0;
 	padding: 1rem;
 	background-color: #2079be;
 	text-align: center;
 }

@media (max-width: 480px)
{
    .footer {
    position: fixed;
    z-index: 999;
    text-align: center;
 	bottom: 100;
 	left: 0;
 	background-color: #2079be;
 }
}
 
 .footerMesssage {
 	position: absolute;
 	right: 0;
 	left: 0;
 	background-color: #025A9E;
 	padding: 10px;
 	margin-top: 10px;
 }
 
 .message {
 	opacity: 0.4;
 	color: white;
 }
 
 .footer-table {
 	color: white;
 	line-height: 1.7;
 }
 
 .text-left {
 	font-size: 12px;
 }
 
 .fa-facebook-official,
 .fa-linkedin-square,
 .fa-twitter-square {
 	font-size: 32px;
 }
 
/*****************************************/
 .clearbankLogo {
 	width: 14vh;
/* 	margin-top:-10px;*/

     position: relative;
     top:6px;
  }
@media (max-width: 480px)
{
   .clearbankLogo {
 	width: 10vh;
 	margin-top:-10px;
 }
    hr{
    width:40%;
    position: relative;
    right:55px;
    }
}

@media (max-width: 768px)
{

   .clearbankLogo {
 	width: 10vh;
 	margin-top:-10px;
 }
}

@media (min-width: 992px)
{

   .clearbankLogo {
 	width: 10vh;
 	margin-top:-10px;
 }
}
 /*****************************************/

 }

 .inner-addon {
 	position: relative;
 }
 
 .inner-addon .glyphicon {
 	position: absolute;
 	padding: 10px;
 	pointer-events: none;
 }
 
 .right-addon .glyphicon {
 	right: 10px;
     top:6px;
 }
 
 .right-addon input {
 	padding-right: 100px;
 }
 

 .navbar-default .navbar-nav>li>a {
 	color: #2079BE;
 	margin-right: -25px;
 }
 
 .subNavbar {
 	background-color: #2079BE;
 	padding: 10px;
 	margin-top: -20px;
 }
 
 .list-inline {
 	color: white;
 	font-size: 16px;
 }
 
 .homeImage {
 	min-width: 100%;
 	height: 600px;
 	position: relative;
 }

 
 .quickLinks {
 	margin-top: 40px;
 }

 .headingQuickLinks {
 	color: #2079BE;
 }
 
 .quickLinks>hr,
 .specialOffers>hr {
 	margin: 0px;
 	border-top: 1px solid rgba(204, 204, 204, 0.92);
 	margin-left: 44%;
 	margin-right: 44%;
 }
 
 .quickLinksList {
 	list-style: none
 }
 
 .quicklinksHeader {
 	font-size: 20px;
 	color: #000;
 }
 
 a.quicklinksData {
 	color: #000;
 }
@media (max-width: 480px){
    .quickLinks-table{

        text-align: center;

    }
    .quicklinksHeader{

        display:block;
        position: relative;
        text-align: center;

    }

    .formButtonsMobile{

        position: relative;
        top:-23px;
    }

}
 
 a.InfoData {
 	color: #000;
 }
 
 a.CalData {
 	color: black;
 }
 
 .specialOffersHeading {
 	color: #2079BE;
 }
 
 .specialOffers {
 	background-color: #F7F8E0;
 	padding: 20px;
 }
 
 .bigBasket {
 	color: #2079BE;
 }
 
 .bigBasketDetail {
 	font-size: 17px;
 }
 
 .viewAll {
 	font-size: 20px;
 }
 
 a:hover {
 	text-decoration: none;
 }
 
 .personalLoanImage {
 	width: 100%;
 	height: 225px !important;
 }
 
 .footer a {
 	color: #fff;
 }
 
 .image {
 	position: relative;
 	margin-top: -20px;
 }
 
 .textOverImage {
 	position: absolute;
 	top: 100px;
 	background-color: #fff;
 }
 
 .loginHead {
 	color: #025A9E;
 }
 
 .personal {
 	line-height: 40px;
 	font-size: 16px;
 }
 
 a:focus {
 	text-decoration: none;
 }
 
 .glyphicon-eye-open,
 .glyphicon-eye-close {
 	position: absolute;
 	right: 10px;
 	color: rgba(128, 128, 128, 0.71);
 	font-size: 22px;
 	cursor: pointer;
 }

.dropdownItems{
color: black;
margin-left:4px;
}


.caption3{
height:130;
}

.registration{
	width: 40%;
}

md-backdrop.md-opaque {
	opacity : 0.95;
}

::-webkit-scrollbar {
    width: 6px;
}



::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,200,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,155,0.7);
	background-color:	rgba(41, 128, 185,0.6);
}
.logout-btn{
	    background-color: rgba(158,158,158,0.2);
}

.loginButton{
    width:90%;
   left:7px;
}
.login-block{
margin:0px !important;
}
.login-panel{
    width:50vh;
    box-shadow: 0 0px 10px #999 !important;
    padding:0px;
    padding-left:15px;
}
@media (max-width: 480px){
   .login-form1{
       width:50vh;
       left:0px;
       box-shadow: 0 0px 10px #999 !important;
       padding:0px;
       padding-left:15px;
}

}
.fa-facebook-official-mobile,.fa-twitter-square-mobile,.fa-linkedin-square-mobile{
position:relative;
    left:-30px;
}
.upperNavFont{
font-size: 13px;
}
.upperNavbar{
position: relative;
right:-8px;
}
.lowerNavbar{
position: relative;
 left:39px;
}

@media (max-width: 768px)
{
   .lowerNavbar{
       position: relative;

       left:0px;
}
}
a.InfoData,a.quicklinksData,a.CalData{
line-height: 1.8
}
.quickLinks-table{
margin-bottom:40px;
}
.footerAlign{
position: relative;
    left:70px;
}
.siteMessage{
position: relative;
    left:40px;
}
.Offer1Image{
margin-left:100px;
}


.glyphicon-trash,.glyphicon-edit{
	font-size: 1.5em;
}
.glyphicon-user{
    display: block;
     font-size: 18px;
    right: 30px;

}
.glyphicon-log-out{
    display: block;
     font-size: 18px;
    right: 30px;
    top:-2px;
}
.search-small{
    display: block;
    text-align: right;
    font-size: 18px;
    margin-top:-40px;

}
.navbarRight-small{
/*    background-color: red;*/
    position: absolute;
    right:100px;
}
.popover {
    width:140px;
   line-height: 1.9;
}
.banner-mobile{
    width:100%;
    position: relative;
    top:-21px;
}

.bannerText{
    padding:25px;
    text-align: justify;
    position: relative;
    top:-20px;
}
.bannerHead{
    color:#2079BE;
}
.loginHead-mobile{
   color:#2079BE;
    padding-left:50px;
    padding-top:100px;

}
.registerHead-mobile{
   color:#2079BE;
    padding-left:50px;
    padding-top:70px;
}
.forgotPassHead-mobile{
  color:#2079BE;
    padding-left:35px;
    padding-top:100px;
}
.loginButtonMobile{
     width:90%;
    left:24px;
}
.forgotPasswordMobile{
    right:110px;
}
.registerNowMobile{
    position:absolute;
    bottom: 0px;
    width:100%
}
.loginLogoMobile{
    width:25vh;
     display: block;
    position: relative;
    margin-left:auto;
    margin-right:auto;
    top:45px;
}
.backToHome{
    font-size: 16px;
    position: relative;
    top:10px;
}
.resetPasswordMobileButton ,.buttonRegister{
width:100%;
}

@media (max-width: 480px){
    .userAccountInfo{
       text-align: center;
    }
    .userAccountInfoTitle,.accountsData,.offersList{
    color: #2079BE;
    }
}

.mobileACDetails{
    display: inline;
}
.glyphicon-plus{

    position: relative;
    float:right;
}

@media (max-width: 480px)
{
    #collapsedetails{
        height:183px;
    }
    #collapselinks{
        height: 370px;
    }
    #offerdetails{
        height:190px;
    }
    .transferOptions{
        position: relative;
        top:-20px;
    }
}

.savingsPieChart{

    display: inline-block;
    width: 30px;
    height: 16px;
    float:left;
    background-color: #EB9532;
}

.investmentsChart{
    display: inline-block;
    width: 30px;
    height: 16px;
    float:left;
    background-color: #D64541;
}

.expensesChart{
    display: inline-block;
    width: 30px;
    height: 16px;
    float:left;
    background-color: #674172;
}
.pietext1,.pietext3{

    position: relative;
     top:-2px;
}
.loanPieChart{


    background-color:#26A65B;
     width: 30px;
    height: 16px;
    display:inline-block;

}

.pietext2{

    position: relative;
    top:-4px;

}

 .row {
 	max-width: 98.7vw;
 }
 
 .caps {
 	text-transform: capitalize;
 }
 
 .tab-input {
 	margin-bottom: -15px;
 	margin-top: -5px
 }
 
 .admin-btn {
 	height: 50px;
 	width: 110px;
 	font-size: 18px;
 	float: right;
 }

 .admin-nav {
/*
 	margin-left: -15px;
 	margin-right: -15px;
*/
 	border-radius: 0;
 	background-color: #2079be;
 	color: black;
 	border-color: #2079be;
 }

 .admin {
 	flex-direction: column;
 	flex: 1;
 	flex-grow: 1;
 	align-items: stretch
 }

 .admin-nav .navbar-nav>li>a {
 	color: white;
 	margin-right: -25px;
 }

admin-menu{
	background-color: #FFFFFF;
	margin-top: -40px;
	box-shadow: 2px 0px #777;
}
