 @CHARSET "ISO-8859-1";

 
 .forget-form {
     width: 600px;
     height: 450px;
     margin-left: -30px;
     vertical-align: baseline;
 }
 
.forget-dialog {
    width: 35%;
     height: 45%px;
     margin-left: -30px;
     vertical-align: middle;
 }

 @media(max-width: 450px) {
     .forget-form {
         width: 100%;
         height: 100%;
         margin-left: 0px;
     }
     .landing-page {
         display: none;
     }
 }
 
 @media(max-width: 720px) {
     .forget-form {
         width: 100%;
         height: 100%;
         margin-left: 0px;
     }
     .landing-page {
         display: none;
     }
 }
 
 @media(max-width: 991px) {
     .forget-form {
         width: 90%;
         height: 100%;
         margin-left: 20px;
     }
 }
 
 .profile:hover {
     cursor: pointer;
 }
 
 .topPayee:hover {
     cursor: pointer;
 }
 
 .customerName {
     color: white;
 }
 
 hr {
     border:1px solid gainsboro;

 }
 
 .nav-logo {
     float: left;
 }
 
 .topName {
     float: right;
     clear: right;
     cursor: pointer;
 }
 
 .customerName:hover {
     color: black;
     cursor: pointer;
 }
 
 .lastTransaction:hover {
     cursor: pointer;
 }
 
 .payeesMenu:hover {
     cursor: pointer;
 }
 
 .menu {
     background-color: dodgerblue;
 }
 
 .mainMenu {
     color: white;
 }
 
 .asideMenu {
     list-style: none;
     padding: 0px;
 }
 
 .arrow {
     float: right;
 }
 
 .accountBalance {
     padding: 7%;
 }
 
 .favouriteLinks {
     padding: 7%;
 }
 
 .topPayees {
     margin-bottom: 8%;
     background-color: #F8F8F8;
     box-shadow: 0px 0px 8px #cccccc;
     padding: 7%;
 }
 
 .mainView {
     background-color: #FfFfFf;
     padding: 2%;
     box-shadow: 0px 0px 8px #cccccc;
 }
 
 .tableheading {
     font-weight: bold;
     color: black;
 }
 
 tbody {
     color: #2079BE;
     font-weight: bold;
 }
 
 .managePayee {
     text-align: center;
 }
 
 .asideMenu span{
     color: #2079BE;
     font-size: 15px;
 }

.customBlue{
color: #2079BE;
}


 
 .asideMenu span.green {
     font-size: 30px;
     color: #2EC40B;
 }
 
 .asideMenu small {  
     color: black;
 }
 
 .asideMenu small.green {
    color: #2EC40B;
     font-size: 18px;
 }
 .accountInfo2 {
     text-align: center;
 }
 
 .lastTransactions {
     display: none;
     border: 1px solid grey;
 }
 
 .modal {
     color: #3498db;
 }
 
 legend {
     text-align: center;
     padding: 10px;
     color: black;
 }
 
 .reset_pass {
     margin-right: -15px;
     clear: left;
 }
 
 .valText {
     color: red;
 }
 
 .loginFrm {
     /*margin-left:10%;*/
     margin: 5% auto;
     border-radius: 10px;
     opacity: .8;
     border: 2px solid #337ab7;
     box-shadow: 0px 0px 25px #111111;
 }
 
 .warning {
     color: red;
 }
 
 .mainContainer {
     background-color: #F3F3E9;
 }
 
 .modal {
     display: none;
     /* Hidden by default */
     position: fixed;
     /* Stay in place */
     z-index: 1;
     /* Sit on top */
     padding-top: 150px;
     /* Location of the box */
     left: 0;
     top: 0;
     width: 100%;
     /* Full width */
     height: 100%;
     /* Full height */
     overflow: auto;
     /* Enable scroll if needed */
     background-color: rgb(0, 0, 0);
     /* Fallback color */
     background-color: rgba(0, 0, 0, 0.4);
     /* Black w/ opacity */
 }
 
 .modal-content {
     background-color: #fefefe;
     margin: auto;
     padding: 20px;
     border: 1px solid #888;
     width: 50%;
 }
 
 .close {
     color: #aaaaaa;
     float: right;
     font-size: 28px;
     font-weight: bold;
 }
 
 .close:hover,
 .close:focus {
     color: #000;
     text-decoration: none;
     cursor: pointer;
 }
 
 .reg-form {
     margin-top: 5%;
     box-shadow: 0px 0px 25px #111111;
     opacity: 0.94;
 }
 
 .bank-web {
     min-height: 100vh;
     background-color: #34495e;
 }
 
 .errorMsg {
     color: red;
 }
 
 .logo {
     max-width: 30vh;
     margin-top: 30vh;
 }
 
 .button1 {
     margin-right: 2%;
 }
 
 .button2 {
     margin-left: 2%;
 }
 
 .logout {
     color: white;
     font-size: 2em;
 }
 
 .jumbotron {
     background-color: transparent;
     text-align: center;
     margin: 5% auto;
 }
 
 .login-hint {
     float: right;
     font-size:13px;
 }
 
 .login-panel {
     min-height: 20vh;
     vertical-align: middle;
 }
 
 .md-button.md-hue-1.md-primary {
     color: #2079BE;
 }
 
 .md-button.md-primary.md-raised {
     color: rgba(255, 255, 255, 0.87);
     background-color: #2079BE;
/*
     height:50px;
     width:110px;
*/
/*     font-size: 18px;*/
 }
 
 .md-button.md-primary.md-raised:not([disabled]):hover,
 .md-button.md-primary.md-raised:not([disabled]):focus {
     color: rgba(255, 255, 255, 0.87);
     background-color: #025A9E;
 }
 
 md-input-container:not(.md-input-invalid).md-input-focused .md-input {
     border-color: rgba(0, 0, 0, 0.12);
 }

 md-input-container:not(.md-input-invalid).md-input-focused label, md-input-container:not(.md-input-invalid).md-input-has-value label {
     color: #2079BE
 }
 .landing-page {
     background-color: #2079BE;
     min-height: 80vh;
     vertical-align: middle;
 }
 
 .navbar {
     padding-left: 0px;
 }
 
 .lang-picker {
     float: right;
     clear: right;
     vertical-align: middle;
     padding-top: 3%;
 }
 
 .home-page,
 {
     height: 80vh;
     padding: 0px;
     box-shadow: 0 0px 10px #777;
 }
 
 .form-tabs {
     min-height: 80vh;
 }
 
 .login-form {
     margin-top: 10vh;
 }
 
 .nav>li>a:hover,
 .nav>li>a:focus,
 .nav>li>a:active,
 .nav>li>a:visited {
     text-decoration: none;
     background-color: #1168ac;
     color: #ffffff;
 }
 
 .panel-default>.panel-heading {
     background-color: #ffffff;
 }
 
 .panel-default>.panel-heading a:hover,
 .panel-default>.panel-heading a:focus {
     text-decoration: none;
     cursor: auto;
 }
 
 .panel-default>.panel-collapse a:hover,
 .panel-default>.panel-collapse a:focus {
     text-decoration: none;
     cursor: pointer;
 }

.panel-accountBalance{
padding-bottom:0px;
}

.panel-transfers{
padding:1px;
}

.panel-heading-transfer{
padding-top:2px;
    padding-bottom: 2px;
}

.transferOptions{
float:right;
}

.addPayeeLink{
vertical-align: middle;
}

.transferMethod{
display:none;
}

.warning_maxIMPS{
    color:red;
    display:none;
    float:right;
}

.warning_maxAmount{
    color:red;
    display:none;
    float:right;
}

.warning_fields{
    color:red;
    display:none;
    float:right;
}

md-radio-button {
    box-sizing: border-box;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
}

md-input-container {
    display: inline-block;
    position: relative;
    padding: 2px;
    margin: 18px 0;
    vertical-align: middle;
    width: 100%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
 
 .container>.navbar-collapse {
     /*        margin-right: -15px;*/
     margin-left: -15px;
 }
 
 .panel-default {
     box-shadow: 0 0px 10px #ccc;
 }

.cardsPanel{
padding:0px;
}

.cards{
    padding:5%;
    width:95%;
}
 
 .panel>.list-group .list-group-item,
 .panel>.panel-collapse>.list-group .list-group-item {
     border-width: 1px 0;
     border-radius: 0;
     padding-bottom: 0.5%;
     padding-top: 0.5%;
 }
 
 .green {
     color: #2EC40B;
 }
 
 .red {
     color: #EF2D2D;
 }

.right-head{
    color: #2079BE;
    float:right;
}

.right-head:hover{
    
    color:#025A9E;
    cursor:pointer;
}

.glyphicon-minus{
    float:right;
    font-size: 10px;
}
.dropdownButton{
width:200px;
}

.managePayee{
color:#2079BE;
}
.managePayeeDropdown
{
color:#2079BE;
}
.deletePayee{
color:#2079BE;
    font-size: 18px;    
}
.alert {
padding: 8px 35px 8px 14px;
margin-bottom: 18px;

}
md-toolbar{
background-color:red;
}
.align-center{
text-align: center;
}
.fa-check-circle-o{
    color:green;
    font-size: 72px;
}
.md-dialog-content{
    color:green;
}

md-tabs .md-tab.md-active{
    color: #2079BE;
}

md-tabs md-ink-bar {
    color: #2097BE;
 display: none
}

.md-tab:not(.md-active) {
    background-color: #FFF5F5;
}

.md-tab{
    font-size: 16px;
    font-weight: bolder;
	overflow: inherit;
	
}

.success-dialog{
    min-height: 30vh;
    min-width: 30vw;
    padding-top: 30px;
    text-align: center;
    font-size:18px;
}
.form-dialog{
    display:block;
}
.langDropDown{
width:100%;
}

.navbar-right{
margin:8px auto;
}

#nav-collapse  li.active { 
   color:green;
    background-color: yellow; 
}

md-radio-group:not([disabled]).md-primary .md-on{
	background-color: #2079BE;
	
}
md-radio-group:not([disabled]).md-primary .md-checked .md-off{
border-color: #2079BE;	
}

:focus{
	outline: inherit;
}
