<h4>Account Details</h4>
  <div class="accountInfo">
  <div class="table-responsive">
  <table class="table">
  <thead>
  <tr class="tableheading"><td>Account Number</td>
  <td>Account Type</td>
  <td>Available Balance</td>
  <td>Opening Date</td>
  </tr>  
  </thead>
  <tbody>
  <tr  data-ng-repeat="account in accountInfo track by $index"><td data-ng-click="getIndex($index)"><a ui-sref="lastTransactions">{{account.accountnumber}}</a></td>
  <td>{{account.accounttype}}</td>
  <td data-ng-click="getIndex($index)"><a ui-sref="lastTransactions">{{account.accountbalance}}&nbsp;{{account.currency}}</a></td>
  <td>{{account.openingDate}}</td>
  </tr>
  </tbody>
  </table>
  </div>
</div>
