<div class="leftAside " >
<ul class="asideMenu">
<li class="asideItems"><a ui-sref="profile">{{accName}}</a></li>
<ul class="asideMenu">
<li class="asideItems">Account number:<span class="profileInfo"><b>{{accountInfo[0].accountNumber}}</b></span><li>
<li class="asideItems">Available Balance:<span class="profileInfo"><b>{{accountInfo[0].accountBalance}}&nbsp;INR</b></span></li>
</ul>
<br>
<li class="asideItems">Favourite links</li>
<ul class="asideMenu">
<li class="asideItems"><a ui-sref="cards">Cards</a></li>
<li class="asideItems"><a ui-sref="managepayee">Manage Payee</a></li>
<li class="asideItems"><a ui-sref="transfers">Transfers</a></li>
</ul>
<br>
<li class="asideItems">Top Payee</li>
<ul class="asideMenu">
<li data-ng-repeat="payee in toppayee"><a ui-sref="transfers">{{payee.customerName}}</a></li>
</ul>
</ul>
</div>